#logo {
    display: block;
}

/*Searchbox layout*/
#userInputCuisine, #userInputLocation {
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  padding: 12px 20px 12px 50px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  border-radius: 30px;
  margin-bottom: 12px; /* Add some space below the input */
}

#userInputCuisine {
  background-image: url('images/foodicon.png');
  background-position: 15px 12px;
}

#userInputLocation {
  background-image: url('images/locationicon.png');
  background-position: 15px 10px;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
}

input {
  font-family: 'Quicksand', sans-serif;
}

/*Button layout*/

#buttonCuisine, #buttonReset {
  border-color: transparent;
  padding: 12px 5px 12px ; /* Add some padding */
  border-radius: 30px;
  margin-bottom: 12px; /* Add some space below the input */
}

#buttonCuisine {
  width: 80px;
  margin-right:1%;
}

#buttonReset {
  width: 50px;
  margin-left: 1%;
}

#buttonUserLocation {
  background-image: url(images/geocodepink.png);
  background-repeat: no-repeat;
  background-position: 8px 10px;
  height: 43px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 30px 30px 0;
  border-color: transparent;
  color: #D20055;
  background-color: #DDDDDD;
  position: absolute;
  right: 15px;
  z-index: 1;
}

/*Autocomplete layout*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

.ui-autocomplete :hover {
  background-color: #D20055;
}


.ui-autocomplete-category {
    color: #D20055;
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.ui-autocomplete .ui-autocomplete-category:focus {
    font-weight: normal;
}




/*Mapbox*/
.redirectmarker {
    font-family: 'Quicksand', sans-serif;
}

.marker {
  background-image: url('images/custom-marker.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: white;
  
}

#results {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(210,0,85,0.3);
}

#mediaObject {
    background-color: white;
    border-radius: 15px;
}

.foodIcons {
  background-color: #D20055;
}


/*Main layout*/

html {
    min-height:100%;
}

body {
  background-image: linear-gradient(to top, #D20055, #BC004C, #FF0066);
  height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-left: 0;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #D20055;
  border-radius: 0;
}

/*To prevent the color of the Search Button from clashing with background color*/
@media (min-width: 567px){

  #buttonCuisine {
  background-color: #D20055;
  color: white;
  }
  
  #buttonCuisine:hover, #buttonCuisine:focus {
    color: #D20055;
    background-color: #DDDDDD;
    border: 2px solid #D20055;
  }
  
  #buttonReset {
  color: #D20055;
  }
  
  #buttonReset:hover, #buttonReset:focus {
    color: #DDDDDD;
    background-color: #D20055;
    border: 2px solid #DDDDDD;
  }
  
  #buttonUserLocation:hover #buttonUserLocation:focus {
    background-color: white;
  }
}

@media (max-width: 566px) {
  
  #buttonCuisine {
  color: #D20055;
  }
  
  #buttonReset {
  background-color: #D20055;
  color: white;
  border: 1.5px solid #ddd;
  }
}

/*FOR GEOLOCATE BUTTON (desktop view)*/
@media (min-width: 1367px) {
    #buttonUserLocation {
    height: 47px;
    width: 46px;
    }
}

/*FOR DESKTOP VIEW AND IPAD PRO IN LANDSCAPE MODE*/
@media (min-width: 1366px){
  #logo {
    margin-left: 30%;
}
    .userInput {
      position: relative;
      z-index:1;
      height: 100vh;
    }
    
    #carouselHeader, .carouselInner {
      position: absolute;
      z-index:-1;
      height: calc(100vh - 50px);
    }

    #map {
      height: 100vh !important;
      position: absolute;
      padding: 0px;
    }
    
}

/*FOR IPAD PRO AND SMALLER*/
@media (max-width: 1366px){
    #logo {
    margin-left: 15%;
    padding-bottom: 5%;
}
    .userInput {
      position: relative;
      z-index:1;
    }
    
    #carouselHeader, .carouselInner {
      position: absolute;
      z-index:-1;
    }
    
    #map {
      height: 50vh;
    }
    
    body {
      font-size: 12px;
    }
}



/*BACK TO TOP BUTTON*/

#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background-color: #D20055;
  color: white;
  cursor: pointer;
  outline: none;
  border: 2px solid white;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
  background-color: white;
  color: #D20055;  
}


/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}