/*Search box layout*/
#userInputCuisine, #userInputLocation {
  background-image: url('images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/*Autocomplete layout*/
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
			 * we use height instead, but this forces the menu to always be this tall
			 */
 * html .ui-autocomplete {
    height: 100px;
}
.ui-autocomplete .highlight {
    text-decoration: underline;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete .ui-autocomplete-category:focus {
    font-weight: normal;
}


/*Mapbox*/

#map {
    height: 50vh;
}

.redirectmarker {
    font-family: 'Quicksand', sans-serif;
}

html {
    min-height:100%;
}


html, body {
  overflow-x: hidden;
}



#results {
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    background-color: rgba(210,0,85,0.3);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-left: 0;
  background: #FF0066;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0;
}


.marker {
  background-image: url('images/custom-marker.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
}



.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: white;
  
}


body {
  background-image: linear-gradient(to top, #D20055, #BC004C, #FF0066);
  height:100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

#mediaObject {
    background-color: white;
    border-radius: 15px;
}


.foodIcons {
  background-color: #D20055;
}

/*.carousel-inner > .carousel-item > img {*/
/*  width: 100vw;*/
/*}*/


/*FOR DESKTOP VIEW AND IPAD PRO IN LANDSCAPE MODE*/
@media (min-width: 1366px){
    .userInput {
  position: relative;
  z-index:1;
  height: 100vh;
    }
    
    #carouselHeader, .carouselInner {
      position: absolute;
      z-index:-1;
      height: calc(100vh - 50px);
    }

    #map {
    height: 100vh;
    position: absolute;
    }
    
}

/*FOR IPAD PRO AND SMALLER*/
@media (max-width: 1366px){
    .userInput {
  position: relative;
  z-index:1;
    }
    
    #carouselHeader, .carouselInner {
      position: absolute;
      z-index:-1;
    }
}